<form class="form-horizontal" ng-submit="update(user)" novalidate>
    <input type="hidden" name="user.user_id" value="{{user.user_id}}"/>
    <div class="form-group">
        <label class="control-label col-xs-3" for="firstName">First Name:</label>
        <div class="col-xs-9">
            <input type="text" class="form-control" ng-model="user.user_first_name" id="firstName">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3" for="lastName">Last Name:</label>
        <div class="col-xs-9">
            <input type="text" class="form-control" ng-model="user.user_last_name" id="lastName">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3" for="inputLocation">Location:</label>
        <div class="col-xs-9">
            <input type="email" class="form-control" ng-model="user.user_location" id="inputLocation">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3" for="inputUsername">Username:</label>
        <div class="col-xs-9">
            <input type="text" class="form-control" ng-model="user.user_name" id="inputUsername">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3" for="inputPassword">Password:</label>
        <div class="col-xs-9">
            <input type="password" class="form-control" ng-model="user.user_password" id="inputPassword">
        </div>
    </div>
    <br>
    <div class="form-group">
        <div class="col-xs-offset-3 col-xs-9">
            <input type="submit" class="btn btn-primary" value="Submit">
            <input type="reset" class="btn btn-default" value="Reset">
        </div>
    </div>
</form>


<div ng-controller="SearchCtrl">
<input type="text" placeholder="select skills"
       ng-model="searchText"
       typeahead="tag in tags | filter:$viewValue | limitTo:10"
       typeahead-min-length='3'
       typeahead-on-select='onSelectPart($item, $model, $label)'
       typeahead-template-url="customTemplate.html" style="width:350px;">


<script type="text/ng-template" id="customTemplate.html">
    <a>
        <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
        <i>({{match.model.name}})</i>
    </a>
</script>
</div>