<div class="container" ng-controller="loginControler">
      <form class="form-signin" role="form" ng-submit="login(credentials)">
        <h2 class="form-signin-heading">Please sign in</h2>
        <br/>
        <input type="text" class="form-control" placeholder="User name" ng-model="credentials.username" required="" autofocus="">
        <br/>
        <input type="password" class="form-control" placeholder="Password" ng-model="credentials.password" required="">
        <br/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
</div>

