<div ng-include src="'./views/partial/menu.html'"></div>

<div class="container" ng-controller="LoginCtrl">
      <form class="form-signin" role="form" ng-submit="login(credentials)">
        <h2 class="form-signin-heading">Please sign in</h2>
        <br/>
        <input type="text" class="form-control" placeholder="User name" ng-model="credentials.user_name" required="" autofocus="">
        <br/>
        <input type="password" class="form-control" placeholder="Password" ng-model="credentials.user_password" required="">
        <br/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
</div>