<div ng-include src="'./views/partial/menu.html'"></div>
<div class="container">
    <div class="input-group">
        <span class="input-group-btn">
          <label class="btn btn-default" for="searchUser">Search</label>
        </span>
        <input class="form-control" id='searchUser' type="text" ng-model="searchUser">
    </div>
    <br/><br/>
    <div class="bs-example">
        <div ng-show="users.length">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">User list</div>

                <!-- Table -->
                <table class="table">
                    <thead>
                    <tr>
                        <th>User name</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Skills</th>
                        <th>Technologies</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in filtered = (users | filter:searchUser) | pagination: curPage * pageSize | limitTo: pageSize">
                        <td>{{user.user_name}}</td>
                        <td>{{user.user_first_name}}</td>
                        <td>{{user.user_last_name}}</td>
                        <td>
                            <div ng-repeat="userSkill in user.skills">
                                <span class="label label-{{userSkill.skill_level}} pull-left margin_2px">{{userSkill.skill.skill_name}} {{userSkill.skill_level}}</span>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group" ng-repeat="userTechnology in user.technologies">
                                <button type="button" class="label label-3 pull-left margin_2px btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    {{userTechnology.technology.technology_name}} {{userTechnology.technology_level}} <span class="caret"></span>
                                </button>

                                <ul class="dropdown-menu reset_min_width">
                                    <li ng-repeat="tehnologySkill in userTechnology.technology.skills">
                                        <a class="label pull-left margin_2px">{{tehnologySkill.skill.skill_name}} {{tehnologySkill.skill_level}}%</a>
                                    </li>
                                </ul>

                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="pagination-div">
                <ul class="pager">
                    <li>
                        <a ng-disabled="curPage == 0" ng-click="getPrevPage()">PREV</a>
                    </li>
                    <li>
                        <span>Page {{curPage + 1}} of {{ Math.ceil(filtered.length / pageSize) }}</span>
                    </li>
                    <li>
                        <a type="button" ng-disabled="curPage >= users.length/pageSize - 1" ng-click="getNextPage()">NEXT </a>
                    </li>
                </ul>
            </div>
        </div>
        <div ng-hide="users.length">Can`t find any users...wierd...</div>
    </div>
</div>