        
    <div class="input-group">
        <span class="input-group-btn">
          <label class="btn btn-default" for="searchUser">Search</label>
        </span>
        <input class="form-control" id='searchUser' type="text" ng-model="searchUser">
    </div>
    <br/>
    <br/>
    <div class="bs-example">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">User list</div>

          <!-- Table -->
          <table class="table">
            <thead>
              <tr>
                <th>User name</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Skills</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="user in users | filter:searchUser|limitTo:10">
                <td>{{user.user_name}}</td>
                <td>{{user.user_first_name}}</td>
                <td>{{user.user_last_name}}</td>
                <td>
                    <div ng-repeat="skill in user.skills">
                        <span style="margin-right: 5px;" class="label label-primary pull-left">{{skill.skill_name}} {{skill.skill_id}}</span>
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>